/* IMPOSTAZIONI GENERALI */

body {
  width: 350px;
  margin-inline: auto;
  font-family: "Poppins", sans-serif;
  padding: 20px;
  /* .. per far cercare a VScode in altre cartelle  */
  background-image: url("../img/sfondo.png");
  line-height: 1.4;
}
/* HEADER */
div > .epicode-logo {
  width: 80%;
  padding-inline: auto;
}

.header-box {
  margin: 10;
  padding: 20px;
  background-color: rgb(64, 160, 173);
  color: white;
  text-align: center;
  font-style: bold;
  box-shadow: 4px 4px 8px #666, -4px -4px 8px 2px #333;
}

/* MAIN */
main {
  background-color: white;
  box-shadow: 4px 4px 8px #666, -4px -4px 8px 2px #333;
  padding: 10px;
}

.text-box {
  background-color: lightgrey;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 2px;
}

div {
  margin: 20px;
  display: block;
  padding: 10px;
  border-color: 2px black solid;
}
/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */
.news-title {
  text-transform: uppercase;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  padding: 10px;
}
.news-box {
  padding: 10px;
  background-color: lightgray;
}

.email-form,
button {
}
button {
  background-color: blue;
  color: white;
  font-weight: bold;
}
/* ELEMENTI NELL' ASIDE */

/* FOOTER */
